
<div class = "container">
	<div class="panel panel-default">
	  <!-- Default panel contents -->
	  <div class="panel-heading">All Comments</div>
<!-- Table -->
	<table class="table">
	  <thead>
	    <tr>
	    	<th>Event Name</th>
	        <th>Title</th>
	        <th>Body</th>
	        <th>Submitted by</th>
	        <th>Link to event</th>

	    </tr>
	   </thead>   
	  
	  	<tbody>
	  		<% @comments.each do |comment| %>
	      <tr>
	      	<td> <%= comment.event.title %> </td>
	        <td> <%= comment.title %> </td>
	        <td> <%= comment.body %> </td>
	        <td> <%= comment.user_id %> </td>
	        <td> <%= link_to "Get More", events_path %> </td>
	        <td> <%#= link_to "Edit", event_comments_path %></td>
	        <td> <%#= link_to "Destroy", event_comments_path %></td>
	    	</tr>
			</tbody>	  
	  <% end %>
		
	  </table>

	</div>
</div>