  <section class="eventTable">
    <h2>Hi<%=current_user.user_name%> you are looking at the profile page for: </h2>
    <div class="container">
      <div class="row">
        <div class = "title text-center" >
            <div class = "col-sm-3">
              <div class="list-group">
                <a href="#" class="list-group-item active">
                 <%= @user.first_name%> <%= @user.last_name%> 
                </a>
                <a href="#" class="list-group-item"><%= image_tag @user.image.url(:small) %></a>
                <a href="#" class="list-group-item"><%= @user.bio %></a>
                <a href="#" class="list-group-item"><%= @user.email %></a>             
              </div>
            </div>
        </div>  
      </div>
      <%= render 'sessions/stats' %>

      <%= render 'follow_form' %>
      <br>
      <div class="btn-group">
      <button type="button" class="btn btn-alert"><%= link_to "Add an event", new_event_path %> </button>  
      </div>
    </div>
 
</section>