
<h2> 
    Hi <%=current_user.user_name%> check out all the users on our network 
  </h2>

<div class ="container">
  <% @users.each do |u| %>  
    <div class="row">
      <div class="title">
        <div class="col-sm-3">
          <div class="thumbnail">
            <%= image_tag u.image.url(:small) %>
            <div class="caption text center">
              <ul>
                <li class = "a">Name: <%= u.first_name %> <%= u.last_name %></li>
                <li>Email: <%= u.email %></li>
                <li><%= u.bio %></li>
                <li> Latest event: <%= u.events.last %></li>
                <li><%= link_to "More", user_path(u)%></li>
              </ul>
              <%= render :partial => 'follow_form', :locals => { user: u } %>
            </div>
          </div>
        </div>
      </div>
    <%end%>
  </div>
</div>




