
  <section class="eventTable">
    <% if @user == current_user %>
    <h2>Hi<%=current_user.user_name%> here's your profile</h2>
    <% else %>
    <h2>Hi<%=current_user.user_name%> this is the profile page your requested</h2>
    <%end%>
    <div class="container">
      <div class="row">
        <div class = "title text-center" >
            <div class = "col-sm-3">
              <div class="list-group">
                <a href="#" class="list-group-item active">
                 <%= @user.first_name%> <%= @user.last_name%> 
                </a>
                <a href="#" class="list-group-item"><%= image_tag @user.image.url(:small) %></a>
                <a href="#" class="list-group-item"><%= @user.bio %></a>
                <a href="#" class="list-group-item"><%= @user.email %></a>             
              </div>
            </div>
        </div>  
      </div>
      <%= render 'sessions/stats' %>
      <br>

<% if @user == current_user %>

      <div class="btn-group">
      
      <button type="button" class="btn btn-alert"><%= link_to "Add an event", new_event_path %> </button>  
      </div>
      <br>
      <%= render 'useredit' %>
    
    </div>
<%end%>
	
</section>


<div class = "container">
  <div class="media">
    <div class="media-left">
      <a href="#">
        <img class="media-object" src="..." alt="...">
      </a>
    </div>
    <div class="media-body">
      <h4 class="media-heading">My Events</h4>
      <% @user.events.each do |e| %>
        <ul> 
          <li><strong>Name: </strong><%= e.title %></li>
          <li><strong>Title: </strong><%= e.description %></li>
          <li><strong>Date: </strong><%= e.date %></li>
        </ul>
      <span class="label"> <%= link_to "More details", event_path %> </span>
      <% end %>  
    </div>
  </div>
</div>




