  
<section class="eventTable">
  <div class ="container">
    <div class = "header col-sm-12 "> 
      <% if @user == current_user %>
        <h2>Hi <%=current_user.user_name%> here's your profile</h2>
      <% else %>
        <h2>Hi<%=current_user.user_name%> this is the profile page you requested</h2>
      <%end%>
    </div>
  </div>

  <div class ="container">
      <div class="row">
        <div class = "title text-center">
          <div class = "col-sm-3">
            <div class="list-group">
              <a href="#" class="list-group-item active">
               <%= @user.first_name%> <%= @user.last_name%> </a>
              <a href="#" class="list-group-item">
                <%= image_tag @user.image.url(:small) %>
                <br>
                <br>
                <ul>
                  <li><%= @user.bio %></li>
               
                  <li>Email me: <%=@user.email %></li>
                </ul>
              </a>            
            </div>
                My connections <%= render 'sessions/stats' %>
                <br>
                <%= render :partial => 'follow_form', :locals => { user: @user } %>
            
            <div class="list-group"> 
              <% if @user == current_user %>
                <%= render 'useredit' %>
              <% end %>
            </div>
          </div>
        </div>
    
        <div class = "title text-left">
          <div class = "col-sm-3">
            <div class="list-group">
              <a href="#" class="list-group-item active">
               Events followed by <%= @user.first_name%> <%= @user.last_name%> </a>
              <a href="#" class="list-group-item"><%= render 'sessions/feed' %></a>
            </div>
          </div>
        </div>

        <div class = "title text-left">
          <div class = "col-sm-3">
            <div class="list-group">
              <a href="#" class="list-group-item active">
               Events owned by <%= @user.first_name%> <%= @user.last_name%> </a>
              <a href="#" class="list-group-item"><%= render 'sessions/owned' %></a>
            </div>
          </div>
        </div>

        <div class = "title text-left">
          <div class = "col-sm-3">
            <div class="list-group">
              <a href="#" class="list-group-item active">
               Comments owned by <%= @user.first_name%> <%= @user.last_name%> </a>
              <a href="#" class="list-group-item"><%= render 'sessions/owned' %></a>
            </div>
          </div>
        </div>

      </div>
  

  <div class="panel panel-default">
    <div class="panel-heading text-center"><%= link_to "Make more connections!", users_path %> </div>
  </div>
</div>











