<div class = "container"> 
  <% if @user == current_user %>
    <%= render "loggedin_show" %>
  <% else %>
    <%= render "loggedoutuser_show" %>

  <% end %>
</div> 

<%= render "follow_form" %>

<div class = "container" >
<span><%= pluralize(current_user.events.count, "Events") %></span>
  <h3>These are the events created by <%= @user.user_name %> </h3>
  <% @event.each do |event| %>
  <div class="row">
    <div class="col-xs-1 col-md-1">
      <a href="#" class="thumbnail">
        <img src="https://www.afplanserv.com/media/100093/qualifying_event_50x50.png?anchor=center&mode=crop&width=50&height=50&rnd=130778996520000000" alt="...">
      </a>
      
    </div>
      <ul> 
        <li><strong>Name: </strong><%= event.title %></li>
        <li><strong>Title: </strong><%= event.description %></li>
        <li><strong>Date: </strong><%= event.date %></li>
      </ul>
  </div>
  <span class="label"> <%= link_to "More details", event_path %> </span>
  <% end %>

</div>

	


