<h1> This is the profile page for <%= @user.first_name %></h1>
<h5> Full Name: <%=@user.first_name + @user.last_name %> </h5>
<h5> Email: <%=@user.email%></h5> <br>

<h4> Here are my events </h4>
	<% @event.each do |event| %>
		<li>	
			<%= event.title %> 
			<%= event.description %> 
			<%#= link_to "Edit", edit_user_event_path %>
		</li>
	<% end %>

	

<p><%= link_to "Add an event", new_event_path %> </p>

<p><%= link_to "Delete this profile!", user_path, method: :delete, data: { confirm: "Are you sure you want to delete this profile?"} %> </p>