<% if @user == current_user %>
  
  <section class="eventTable">
  <h2> Hi <%=current_user.user_name%> </h2>
  <div class="container">
    <div class="row">
      <div class = "title text-center" >
          <div class = "col-sm-3">
            <div class="list-group">
              <a href="#" class="list-group-item active">
               <%= @user.first_name%><%= @user.last_name%> 
              </a>
              <a href="#" class="list-group-item"><%= image_tag @user.image.url(:small) %></a>
              <a href="#" class="list-group-item"><%= @user.bio %></a>
              <a href="#" class="list-group-item"><%= @user.email %></a>
                
            </div>
          </div>
      </div>  
    </div>
    <%= render 'sessions/stats' %>
    <br>
    <%= render 'useredit' %>
    <br>
    <div class="btn-group">
    <button type="button" class="btn btn-alert"><%= link_to "Add an event", new_event_path %> </button>
    
    </div>

  </div>
 
</section>

<%end%>
 



<%= render 'follow_form' %>

<br>

</div>



<div class = "container" >       



</div>


  
<%= render 'sessions/feed' %>

<div class = "container">

  <h3>My events </h3>
    <% @user_events.each do |event| %>
      <ul> 
        <li><strong>Name: </strong><%= event.title %></li>
        <li><strong>Title: </strong><%= event.description %></li>
        <li><strong>Date: </strong><%= event.date %></li>
      </ul>

  <span class="label"> <%= link_to "More details", event_path %> </span>
  <% end %>
</div>

	


