<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-person-128.png" alt="...">
      <div class="caption">
        <ul>
        <li>Name: <%=@user.first_name%></li>
        <li>Email: <%=@user.email%></li>
        <li><%=@user.bio%><li/>
        <p><a href="#" class="btn btn-primary" role="button">Edit</a> <a href="#" class="btn btn-default" role="button">New Event</a></p>
      </div>
    </div>
  </div>
</div>

<h3>My events </h3>
<% @event.each do |event| %>
<div class="row">
  <div class="col-xs-1 col-md-1">
    <a href="#" class="thumbnail">
      <img src="https://www.afplanserv.com/media/100093/qualifying_event_50x50.png?anchor=center&mode=crop&width=50&height=50&rnd=130778996520000000" alt="...">
    </a>
    
  </div>
  <li> 
      <%= event.title %> 
      <%= event.description %> 
      <%#= link_to "Edit", edit_user_event_path %>
    </li>
</div>
<% end %>

	

<p><%= link_to "Add an event", new_event_path %> </p>

<p><%= link_to "Delete this profile!", user_path, method: :delete, data: { confirm: "Are you sure you want to delete this profile?"} %> </p>