<section class="eventTable">
	<div class="container">
		<div class="row">
			<div class = "title text-center" >
				<h2> 
					Hi <%=current_user.user_name%> check out events from our network 
				</h2>
				<% @events.each do |e| %>
					<div class = "col-sm-3">
						<div class="list-group">
						  <a href="#" class="list-group-item active">
						    <%= e.title %>
						  </a>
						  <a href="#" class="list-group-item"><%= e.description %></a>
						  <a href="#" class="list-group-item"><%= e.date %></a>
						  <a href="#" class="list-group-item"><%= e.start_time %></a>
						</div>
					</div>
				<%end%>
			</div>	
		</div>
	</div>
</section>
	

		
		
		
