  <%if @event.user_id == current_user.id %>
    
    <%= form_for @event do |f| %>

      <div>
        <%= f.label :title %>
        <%= f.text_field :title %>
      </div>

      <div>
        <%= f.label :description %>
        <%= f.text_area :description %>
      </div>

      <div>
        <%= f.label :date %>
        <%= f.date_field :date %>
      </div>

      <div>
        <%= f.label :start_time %>
        <%= f.datetime_field :start_time %>
      </div>

      <div>
        <%= f.label :end_time %>
        <%= f.datetime_field :end_time %>
      </div>

      <div>
        <%= f.label :location %>
        <%= f.text_field :location %>
      </div>

      <div>
        <%= f.label :for_ages %>
        <%= f.text_field :for_ages %>
      </div>
      
      <div>
        <%= f.submit %>
      </div>
      
  <%end%>

  <% else %>

  <h1> Sorry you don't have persmission to edit </h1>

  <%end%>



