<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="http://cdn.mysitemyway.com/etc-mysitemyway/icons/legacy-previews/icons-256/3d-glossy-orange-orbs-icons-sports-hobbies/106502-3d-glossy-orange-orb-icon-sports-hobbies-party.png" alt="...">
      <div class="caption">
        <h3>Your Event</h3>
        <p>	Name: <%=@event.title%> <br>
			Decription: <%=@event.description%> <br>
			Suggested age: <%=@event.for_ages%> <br>
			Date: <%=@event.date%> <br>
			Start time: <%=@event.start_time%> <br>
			End time: <%=@event.end_time%> <br>
			Location: <%=@event.location%> <br></p>
        <p>
        </div>
    </div>
  </div>
</div>

<% @event.comments.each do |c|%>
<div class="media">
  <div class="media-left">
    <a href="#">
      <img class="media-object" src="http://findicons.com/files/icons/1676/primo/128/comments.png" alt="...">
    </a>
  </div>
  <div class="media-body">
    <h4 class="media-heading">Comment from <%= c.user_id %> </h4>
	<%= c.title %>
	<%= c.body %>
<% end %>
  </div>
</div>

