




<div class = "container" >
  <div class = "title" >
    <h1> Event Details </h1>
  </div>
  
  <div class="row text-center">
    <div class="col-md-4">
      <div class="thumbnail">
        <img src="http://cdn.mysitemyway.com/etc-mysitemyway/icons/legacy-previews/icons-256/3d-glossy-orange-orbs-icons-sports-hobbies/106502-3d-glossy-orange-orb-icon-sports-hobbies-party.png" alt="...">
        
        <div class="caption">        
            <ul>
              <li> Submitted by: <%=@event.user_id%> </li>	
              <li> Name: <%=@event.title%> </li>
              <li> Decription: <%=@event.description%> </li>
              <li> Suggested age: <%=@event.for_ages%> </li>
            	<li> Date: <%=@event.date%> </li>
            	<li> Start time: <%=@event.start_time%> </li>
            	<li> End time: <%=@event.end_time%> </li>
            	<li> Location: <%=@event.location%> </li>
            </ul>
              
              <span class="label"> <%= link_to "Add Comment", new_event_comment_path(@event)%> 
              </span>

              <span class="label"> <%= link_to 'Attending', attend_path(@event), method: :post %> 
              </span>

        </div>
      </div>
    </div>
</div>

<% @event.comments.each do |c|%>
<div class="media">
  <div class="media-left">
    <a href="#">
      <img class="media-object" src="http://findicons.com/files/icons/1676/primo/128/comments.png" alt="...">
    </a>
  </div>
  <div class="media-body">
    <h4 class="media-heading">Comment from <%= c.user_id %> </h4>
    	<%= c.title %>
    	<%= c.body %>
<% end %>
  </div>
</div>

