<h1> Hi here is the event you wanted more info on</h1>
<h3> 
	Name: <%=@event.title%> <br>
	Decription: <%=@event.description%> <br>
	Suggested age: <%=@event.for_ages%> <br>
	Date: <%=@event.date%> <br>
	Start time: <%=@event.start_time%> <br>
	End time: <%=@event.end_time%> <br>
	Location: <%=@event.location%> <br>
	<%#=event.user_id%>
</h3>

	
